.alert {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 10;
    margin: 1% 25%;
    text-align: center;
}

.alert-error {
    background-color: #FFBABA;
    color: #D8000C;
}