.marker-list-container {
    width: 30%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    float: left;
}

.marker-card {
    width: 300px;
    padding: 5px 10px;
    min-height: 70px;
    background-color: #c0c0c0;
    margin: 5px;
    float: left;
}

.input-bar {
    width: 100%;
}